body{
    margin: 0 auto;
    width: 1100px;
    background: #0d0b0e;    
}

#infoModalBg{
    background-color: #0000004d;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 7;
    width: 100%;
    height: 100%;
}

#infoModal{
    background-color: #3a3a3abe;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 8;
    width: 50rem;
    height: 30em;
    border-radius: 1rem;
}

#cardList{
    position: absolute;
    top: 100px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: auto;
    z-index: 6;
}

#cardMain{
    width: 350px;
    min-height: 200px;
    background-color: #121221;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    color: white;
}

#cardMain>span{
    padding: 12px 0px;
}

#cardMain>div{
    margin: 12px;
    height: 176px;
    width: 176px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 4px;
}

#cardNameK{
    font-size: 1.5rem;
    font-weight: 800;
}
#cardNameLt{
    font-size: 1rem;
    font-weight: 200;
    opacity: 75%;
}

#cardTags{
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
}
#cardTag{
    line-height: 26px;
    background-color: #ffffff25;
    padding: 0 6px;
    border: #ffffff31 2px solid;
    border-radius: 17px;
    margin-right: 8px;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
}

.absoluteCenter{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.hiden{
    visibility: hidden;
}


header{
    display: flex;
    position: fixed;
    width: 1078px;
    align-items: center;
    z-index: 7;
    padding: 10px;
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: #f7f7f7cc;
    overflow: auto;
    box-shadow: 0px 25.6px 57.6px #ffffff24, 0px 0px 16.4px #ffffff1f;
}

.topBarSt{
    padding: 0 12px;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.75;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.topBarSt:hover{
    font-weight: 800;
    opacity: 1;
    transition: all 250ms ease-in-out;
}

.selected{
    font-weight: 800;
    transition: all 500ms ease-in-out;
    opacity: 1;
}

header img{
    transition: all 250ms;
    filter: drop-shadow(0 0 2px #2200ff);
}