body{
    margin: 0 auto;
    width: 1100px;
    background: #0d0b0e;    
}

#infoModalBg{
    background-color: #0000004d;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 888;
    width: 100%;
    height: 100%;
}

#infoModal{
    border: 1px solid #262626;
    border-radius: 8px;
    backdrop-filter: blur(40px);
    background-color: #1e1e24cc;
    overflow: auto;
    z-index: 8888;
    width: 50rem;
    height: 324px;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
}

#imImage{
    width: 324px;
    height: 324px;
    border-radius: 8px;
    background-image: url(https://mp-seoul-image-production-s3.mangoplate.com/460744/1245199_1645722744773_65491?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#imRigntBox{
    margin-left: 12px;
    color: white;
    width: 478px;
}

#imsNameE{
    opacity: 50%;
    font-style: oblique;
    font-family: serif;
    font-size: 2rem;
}

#imsNameK{
    font-size: 3rem;
    font-weight: 700;
    display: inline;
}

#imsNameL{
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
    display: inline;
}

#infoModal hr{
    opacity: 10%;
}

.imPL{
    margin-bottom: 8px;
}

.imPL :first-child{
    opacity: 50%;
    font-weight: 800;
}

#cardList{
    position: absolute;
    top: 100px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: auto;
    z-index: 8;
}

#cardMain{
    width: 350px;
    min-height: 200px;
    background-color: #121221;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    color: white;
}

#cardMain>span{
    padding: 12px 0px;
}

#cardImg{
    margin: 12px;
    height: 176px;
    width: 176px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 4px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    font-size: 20px;
    padding: 8px;
    box-sizing: border-box;
}

#cardImg:hover{
    transform: scale(105%);
    box-shadow: #917e9a70 0 0 16px;
    transition: all 250ms ease-in-out;
}

#cardNameK{
    font-size: 1.5rem;
    font-weight: 800;
}
#cardNameLt{
    font-size: 1rem;
    font-weight: 200;
    opacity: 75%;
}

#cardTags{
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
}
#cardTag{
    line-height: 26px;
    background-color: #ffffff25;
    padding: 0 6px;
    border: #ffffff31 2px solid;
    border-radius: 17px;
    margin-right: 8px;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
}

.absoluteCenter{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.hiden{
    visibility: hidden;
}


header{
    display: flex;
    position: fixed;
    width: 1078px;
    align-items: center;
    z-index: 88;
    padding: 10px;
    margin: 16px 0;
    border: 1px solid #262626;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: #1e1e24cc;
    overflow: auto;
    box-shadow: 0px 25.6px 57.6px #ffffff24, 0px 0px 16.4px #ffffff1f;
}

.topBarSt{
    padding: 0 12px;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.75;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.topBarSt:hover{
    font-weight: 800;
    opacity: 1;
    transition: all 250ms ease-in-out;
}

.selected{
    font-weight: 800;
    transition: all 500ms ease-in-out;
    opacity: 1;
}

header img{
    transition: all 250ms;
    filter: drop-shadow(0 0 6px #a200ff);
}

#headerBord{
    height: 20px;
    width: 1px;
    background-color: #ffffff3b;
    margin-left: 12px;
}

.notSearchRes{
    display: none !important;
}